---
# Install Ruby

- name: Ensure needed APT packages are installed
  apt:
    name:
      - build-essential
      - curl
      - tar
      - gzip
      - libc6-dev
      - libreadline-dev
      - libreadline6-dev
      - libsqlite3-dev
      - libssl-dev
      - libxml2-dev
      - libxslt-dev
      - libyaml-dev
      - make
      - zlib1g-dev
      - gcc
      - g++
      - autoconf
      - bison
      - libncurses5-dev
      - libffi-dev
      - libgdbm-dev
      - libpq-dev
      - libmysqlclient-dev
    state: present
    update_cache: true
    cache_valid_time: 600

- name: Ensure libgdbm3 is present
  apt:
    name: libgdbm3
    state: present
  when: ansible_distribution_release != 'bionic'

- name: Ensure needed APT packages are present for bionic
  apt:
    name:
      - libgdbm5
      - libssl1.0-dev
    state: present
  when: ansible_distribution_release == 'bionic'

- name: Unarchive ruby source code
  unarchive:
    src: "https://cache.ruby-lang.org/pub/ruby/{{ ruby_version[:-2]}}/ruby-{{ ruby_version }}.tar.gz"
    dest: "{{ tmp_dir }}"
    remote_src: true

- name: Build ruby from source
  command: "{{ item }}"
  args:
    chdir: "{{ tmp_dir }}/ruby-{{ ruby_version }}"
  changed_when: false
  with_items:
    - ./configure
    - make
    - make install

- name: Ensure temp folder is absent
  file:
    path: "{{ tmp_dir }}/ruby-{{ ruby_version }}"
    state: absent
