---
# Install Ruby

- name: Ensure APT is updated
  apt:
    update_cache: true
    cache_valid_time: 600

- name: Ensure APT dependencies are installed
  apt:
    name: "{{ base_apt_packages }}"
    state: present
    install_recommends: false

- name: Ensure libgdm3 is present
  apt:
    name: libgdm3
    state: present
  when: ansible_distribution_release != 'bionic'

- name: Ensure libgdm5 is present
  apt:
    name: libgdm5
    state: present
  when: ansible_distribution_release == 'bionic'

- name: Unarchive ruby source
  unarchive:
    src: "https://cache.ruby-lang.org/pub/ruby/{{ ruby_version[:-2]}}/ruby-{{ ruby_version }}.zip"
    dest: "{{ tmp_dir }}"
    remote_src: true

- name: Build ruby from source
  command: "{{ item }}"
  args:
    chdir: "{{ tmp_dir }}/ruby-{{ ruby_version }}"
  changed_when: false
  with_items:
    - ./configure
    - make
    - make install

- name: Ensure temp folder is absent
  file:
    path: "{{ tmp_dir }}/ruby-{{ ruby_version }}"
    state: absent
